@model GameGenerator.Models.OnGoingGame.OnGoingGameViewModel

@section Styles {
    <link href="~/css/OnGoingGamePage.css" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "OnGoingGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Game Started</h1>
<h2>Game Group Name: <span id="gameGroup">@Model.GameGroup</span></h2>
<h2>User Name: <span id="userName">@User.Identity.Name</span></h2>


<button id="startRound">Start round <span id="gameRound">@Model.CurrentRound</span></button>
<button id="sendWinner">Send Winner</button>
<div class="admin-panel">
    <div class="cards-container">

        <div class="float-child cards-container-black">

        </div>

        <div class="float-child cards-container-white">

        </div>

    </div>

    <div class="users-container">
        <table class="users" GridLines="Both" HorizontalAlign="Center" CellSpacing="3" CellPadding="3">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersNamePoints)
                {
                    <tr class="row" id="@item.Key">
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="end-game">
        <form asp-action="EndGame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="GameGroup" class="control-label"></label>
                <input asp-for="GameGroup" class="form-control" value="@Model.GameGroup" readonly="readonly" />
                <span asp-validation-for="GameGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="End Game!" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/creator.js"></script>